[user]
  name = Jan Ahrens
  email = jan.ahrens+git@googlemail.com

[color]
  status = auto
  diff = auto
  branch = auto
  interactive = auto

[alias]
  st = status -s -u
  co = checkout
  cp = cherry-pick -x
  d  = diff --color-words
  dh = diff HEAD
  dc = diff --cached
  dw = diff --word-diff
  df = diff --stat
  br = branch -vv
  lg = log --graph --pretty=format:'%Cred%h%Creset %s%C(yellow)%d%Creset (%Cgreen%an%Creset, %cr)' --abbrev-commit --date=relative
  l  = !git --no-pager lg -10 | emojify
  up = remote update --prune
  pu = pull --rebase
  su = !git submodule update
  latest = ! git for-each-ref --sort=-committerdate --format='%(committerdate:relative) %(refname:short)' | head

[push]
  default = tracking
