.vim/spell/
.vim/cache
.DS_Store
.vim/.netrwhist
.vim/bundle
/.mutt/certificates
*~
*.key
/.gnupg/random_seed
/.gnupg/sshcontrol
/.gnupg/*.gpg
/.gnupg/*.kbx
/.gnupg/*.log
/.gnupg/*.status
/.gnupg/.#*
