*.pyc
*.cache

# dynamic data
Settings/Session.sublime_session
Settings/Auto Save Session.sublime_session

# the theme contains too much graphics to be versioned
Packages/Theme\ -\ Default

# this settings file has a timestamp which changes on each startup
Packages/User/Package\ Control.sublime-settings
